/* jeu */

body{
  background-color: black;
}

.scene{
  background-color: white;
  width:400px; height:300px;
  margin: 30px auto;
  position: relative;
}

.fond{
  position:absolute;
  /* z-index: 4; */
}

.fond img{
  width:100%;
}

.personnage{
  z-index: 2;
  background-color: yellow;
  position:absolute;
  top:150px;
  left:25px;
}
.personnage.gd{
  background-color: red;
}
.personnage.dg{
  background-color: blue;
}


/* mise en page */


.entete{
  height:150px;
  background-color: rgb(255, 120, 78);
}

.menu{
  display: inline-block;
  width:20%;
  background-color: rgb(112, 208, 8);
  vertical-align: top;
}

.contenu{
  display: inline-block;
  width:75%;
  background-color: rgb(54, 108, 237);
  vertical-align: top;
}

.canard{
  position:absolute;
  top:100px;
  left: 100px;
  z-index: 10;
  width: 40px;
  height: 40px;
}
.canard img{
  max-width: 100%;
}
